// Vertically centers content within buttons if content is different heights
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:not(.btn-icon) {
	i {
		margin-right: 0.75rem;
	}

	&.btn-sm {
		i {
			margin-top: 2px;
			margin-right: 0.5rem;
		}
	}
}