.sort-arrow {
    height: 16px;
    width: 16px;
    top: 3px;
    position: relative;
    margin-left: 3px;
}

.opacity-0 {
	opacity: 0;
}

.opacity-50 {
	opacity: 0.5;
}

.hover-opacity-100 {
	&:hover {
		opacity: 1;
	}
}

.hover-opacity-0 {
	&:hover {
		opacity: 0;
	}
}

.transition-opacity {
	transition: opacity 0.3s ease;
}