.card-waves {
    .card-body {
        background-image: url('/img/wave.svg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}
